In [12]:
import pandas as pd
from tqdm.auto import tqdm

In [13]:
prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'

dtype = {
    "VendorID": "Int64",
    "passenger_count": "Int64",
    "trip_distance": "float64",
    "RatecodeID": "Int64",
    "store_and_fwd_flag": "string",
    "PULocationID": "Int64",
    "DOLocationID": "Int64",
    "payment_type": "Int64",
    "fare_amount": "float64",
    "extra": "float64",
    "mta_tax": "float64",
    "tip_amount": "float64",
    "tolls_amount": "float64",
    "improvement_surcharge": "float64",
    "total_amount": "float64",
    "congestion_surcharge": "float64"
}

In [14]:


parse_dates = [
    "tpep_pickup_datetime",
    "tpep_dropoff_datetime"
]

In [15]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [16]:
df_iter = pd.read_csv(
    prefix + '/yellow_tripdata_2021-01.csv.gz',
    dtype=dtype,
    parse_dates=parse_dates,
    iterator=True,
    chunksize=100000
)

# for df_chunk in df_iter:
#     print(len(df_chunk))

In [19]:
for df_chunk in tqdm(df_iter):
    print("starting")
    first = True

    if first:
        # Create table schema (no data)
        df_chunk.head(0).to_sql(
            name="yellow_taxi_data",
            con=engine,
            if_exists="replace"
        )
        first = False
        print("Table created")

    # Insert chunk
    df_chunk.to_sql(
        name="yellow_taxi_data",
        con=engine,
        if_exists="append"
    )

    print("Inserted:", len(df_chunk))

0it [00:00, ?it/s]

starting
Table created
Inserted: 100000
starting
Table created
Inserted: 100000
starting
Table created
Inserted: 100000
starting
Table created
Inserted: 100000
starting
Table created
Inserted: 100000
starting
Table created
Inserted: 100000
starting
Table created
Inserted: 100000
starting
Table created
Inserted: 100000
starting
Table created
Inserted: 100000
starting
Table created
Inserted: 100000
starting
Table created
Inserted: 100000
starting
Table created
Inserted: 100000
starting
Table created
Inserted: 69765